body{
	background-color: #111;
    	font-family: Arial, Helvetica, sans-serif;
}
.In_reg{
    float: right;
  }

  .In_reg1{
    float: right;
  }
  
  .In_reg a {
    display: block;
    color: white;
    margin-left: auto;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }

  .In_reg1 a {
    display: block;
    color: white;
    margin-left: -50px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  .In_reg a:hover {
    background-color: yellow;
  }

  
.head{
  list-style-type: none;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -0.7%;
  padding: 1px;
  overflow: hidden;
  background: rgba(19, 35, 47, 0.9);
}

.In_Head {
  float: left;
}

.In_Head a {
  display: block;
  color: white;
  margin-left: auto;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

.In_Head a:hover {
  background-color: yellow;
}

img {
  width: 1350px;
  height: 400px;
  background-repeat: none
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(25% - 1em);
}

h1{
  margin-top: -3%;
  margin-left: 2%;
  color: #ffffff;
}

h4{
  margin-left: 2%;
  color: #ffffff;
}

p{
  margin-left: 2%;
  color: #ffffff;
}

button{
  margin-left: 2%;
  border-radius: 50px 20px;
  margin-bottom: 4%;
  color: #111;
}

button:hover{
  background-color: #111;
}